<ion-view view-title="Users">
    <ion-content>
        <ion-list class="list" ng-if="allUsers.length>0">
            <ion-item class="item item-thumbnail-left" ng-repeat="user in allUsers">
                <img ng-src="{{user.profilepic | uploadpathprofile}}" ng-if="user.profilepic">
                <img ng-src="img/defaultuser.png" ng-if="!user.profilepic">
                <h2>{{user.name}}</h2>
                <p>{{user.age}}
                    yrs</p>
                <p>{{user.bloodgrp}}</p>
                <p>+91
                    {{user.contact}}</p>
                <img ng-src="{{user.earimage | uploadpathear}}" ng-if="user.earimage">
                <img ng-src="img/earid.png" ng-if="!user.earimage">
                <ion-option-button class="button-positive" ui-sref="app.addnewedit({id:user._id})">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteUser(user._id);">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ul class="list" ng-if="allUsers.length==0">
            <li class="item text-center">
                No Users Yet
            </li>
        </ul>
    </ion-content>
</ion-view>
