<ion-content class="signup-background">
    <div class="text-center login">
        <img src="img/earid.png" alt="">
    </div>
    <form ng-submit="doLogin()">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password">
            </label>
            <label class="item noborder">
                <button class="button button-block button-stable">Login</button>
            </label>
        </div>
    </form>
    <p class="getone text-center">Don't have an account?
        <a href="#/register">Get one!</a>
    </p>
</ion-content>
